<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>订金信息表自动化整理</title>
    <script src="Scripts/jquery-1.8.2.min.js"></script>
    <style>
        .myFileUpload {
            position: absolute;
            display: block;
            width: 100px;
            height: 40px;
            opacity: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <form class="form-horizontal" action="~/Index/Upload" role="form" method="post" enctype="multipart/form-data">
            <table style="margin:5px;height:70px;">
                <tr>
                    <td>请选择文件：</td>
                    <td width="5px;"></td>
                    <td><input type="file" id="fileUpload" name="fileUpload"></td>
                    <td><input id="fileText" type="text" class="myFileUpload" disabled="disabled" /></td>
                    <td><button id="submit" type="submit">上传</button></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
<script type="text/javascript">
    $("#submit").click(function () {

    });
</script>